@font-face {
    font-family: "Nike-Futura";
    src: url(https://www.nike.com/static/ncss/4.0/dotcom/fonts/Nike-Futura.ttf) format("truetype");
  }
  @font-face {
    font-family: "TradeGothicForNike365";
    src: url(https://s3.nikecdn.com/unite/app/953/fonts/TradeGothicForNike365.ttf) format("truetype");
  }
  @font-face {
    font-family: "NikeTG";
    src: url(https://www.nike.com/static/ncss/4.0/dotcom/fonts/Nike-TG.woff2) format("truetype");
  }
  
header{
    display: flex;
}
.pre-navbar{

}
header{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
}
#title{
    font-size: 26px;
    font-family: 'TradeGothicForNike365', sans-serif;
    text-align: center;
}
.input::placeholder {
color: gray !important;
}
.menu-list li a{
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    color: #7e7e7e;
    padding-left: 0;
}
.menu-list{
    padding: 0;
}
.menu-label{
    color: white;
    font-size: 14px;
    font-family: 'NikeTG';
}
.footer-link{
    color: white;
    font-size: 14px;
    font-family: 'NikeTG';
    text-transform: uppercase;
}
#social-media i:hover{
opacity: 75%;
}
.navbar-start .navbar-item:hover{
    margin-top: 2px !important;
border-bottom: solid black 2px;
color: black !important;

}
.navbar-brand .navbar-item svg{
    margin-bottom: 10px !important;
}